@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebf3fb;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.section__title {
  text-align: center;
  margin: 40px 0 30px;
  font-size: 30px;
  text-transform: capitalize;
}

.search {
  width: 300px;
  padding: 10px 10px;
  outline: none;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1;
  border: 1px solid #c3cbdc;
  color: gray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-btn {
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  border: 1px solid #c3cbdc;
  padding: 11px;
  color: gray;
  margin-left: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: background-color 0.3s ease-in;
}

.search-btn:hover {
  background-color: #dcdcdc;
  background-image: linear-gradient(147deg, #e7e7ea 0%, #dee4ea 74%);
}

.product {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  max-height: 660px;
  box-shadow: 0px 24px 28px 9px rgba(179, 193, 217, 0.33);
  border-radius: 15px;
  background-color: #fff;
  padding: 80px;
  margin: 0 auto 40px;
}

.product__img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.product__right {
  max-width: 450px;
  width: 100%;
  margin-left: 15px;
}

.product__category {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #2596be;
  color: #fff;
  border-radius: 15px;
  margin-right: 5px;
}

.product__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  margin: 15px 0 30px;
}

.product__price-old {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #191847;
  text-decoration: line-through;
}

.product__price-old span {
  margin-left: 3px;
  text-decoration: none;
}

.product__price {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
}

.product__price span {
  margin-left: 8px;
  font-size: 32px;
}

.product__descr {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.product__additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  margin: 0 auto 40px;
}

.product__additional-rate,
.product__additional-stock {
  margin-left: 8px;
}

.product__additional-number {
  background-color: #063970;
  padding: 5px 10px;
  border-radius: 15px;
  color: #eee;
}

.product__btn {
  font-weight: 500;
  font-size: 18px;
  max-width: 100%;
  width: 100%;
  padding: 16px 40px;
  border-radius: 8px;
  background-color: #4788e9;
  color: #eee;
  box-shadow: 0px 7px 0px 0px #1c57ee;
  border: none;
  transition: all 0.3s ease-in;
}

.product__btn:hover {
  background-color: #0c66ed;
}

.initial__message,
.null__result-message {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.initial__message {
  color: #063970;
}

.null__result-message {
  color: red;
}

.header {
  background-color: rgba(37, 150, 190, 0.6);
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.menu__item-link {
  cursor: pointer;
  color: #ebf3fb;
  font-weight: 400;
  font-size: 18px;
  padding: 20px 15px;
  transition: background-color 0.3s;
}

.menu__item-link.active {
  background-color: #3774b4;
  color: #ddd;
}

.menu__item-link:hover {
  background-color: #2596be;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

.categories__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px 0;
}

.category {
  width: 100%;
  padding: 40px 20px;
  box-shadow: 0px 24px 28px 9px rgba(179, 193, 217, 0.33);
  border-radius: 15px;
  background-color: #fff;
  cursor: pointer;
}

.category__name {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25;
  text-transform: capitalize;
}
